name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-lint-build:
    name: Test, Lint & Build
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: svc-health-aggregator
      GO_VERSION: "1.25"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Download dependencies
        run: go mod download

      - name: Run Go tests
        run: go test ./...

#      - name: Run golangci-lint
#        uses: golangci/golangci-lint-action@v6
#        with:
#          version: latest
#          args: --timeout=5m

      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }} .
